html(lang='en')
  head
    title #{data.config.meta.title}

    meta(name='title' content=data.config.meta.title)
    meta(name='description',content=data.config.meta.description)
    meta(name='keywords',content=data.config.meta.keywords)

    meta(name='og:title', content=data.config.meta.title)
    meta(name='og:type', content='website')
    meta(name='og:image', content=data.config.meta.image)
    meta(name='og:description', content=data.config.meta.description)

    meta(name='twitter:card',content='summary')
    meta(name='twitter:title',content=data.config.meta.title)
    meta(name='twitter:description',content=data.config.meta.description)
    meta(name='twitter:image',content=data.config.meta.image) 
    meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
    link(rel='stylesheet',href="/css/main.css",type='text/css',media='all')
    script(type='text/javascript', src='/jst/loader.js')

    link(rel="apple-touch-icon",sizes="57x57",href="/ico/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon",sizes="60x60",href="/ico/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon",sizes="72x72",href="/ico/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon",sizes="76x76",href="/ico/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon",sizes="114x114",href="/ico/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon",sizes="120x120",href="/ico/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon",sizes="144x144",href="/ico/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon",sizes="152x152",href="/ico/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon",sizes="180x180",href="/ico/apple-touch-icon-180x180.png")
    link(rel="icon",type="image/png",href="/ico/favicon-32x32.png",sizes="32x32")
    link(rel="icon",type="image/png",href="/ico/android-chrome-192x192.png",sizes="192x192")
    link(rel="icon",type="image/png",href="/ico/favicon-96x96.png",sizes="96x96")
    link(rel="icon",type="image/png",href="/ico/favicon-16x16.png",sizes="16x16")
    link(rel="manifest",href="/ico/manifest.json")
    link(rel="shortcut,icon",href="/ico/favicon.ico")
    meta(name="msapplication-TileColor",content="#da532c")
    meta(name="msapplication-TileImage",content="/ico/mstile-144x144.png")
    meta(name="msapplication-config",content="/ico/browserconfig.xml")
    meta(name="theme-color",content="#9c519f")

  body
    .container
      include header
      block content

    block script
   
      script(type='text/javascript').

        Loader.scripts.jst_lib.push('jquery-2.1.4.min');
        Loader.scripts.jst.push('main');
        Loader.i( function(result) {
          if (result) {
            if (typeof(loadercomplete) === 'function') {
              loadercomplete();
            }
          }
        });

    block postscript
