extends inc/layout

block content
  .index 

    .home.section
      .logo
      .inner
        .copy
          each p in data.landing.copy
            p=p

    .section.services
      .inner
        - var service = data.services[0]
        .service
          .inner
            .icon
              include ../pub/svg/strategic.svg
            .title=service.name
            ul
              each item in service.services
                li=item
        - var service = data.services[1]
        .service
          .inner
            .icon
              include ../pub/svg/compliance.svg
            .title=service.name
            ul
              each item in service.services
                li=item
        - var service = data.services[2]
        .service
          .inner
            .icon
              include ../pub/svg/testing.svg
            .title=service.name
            ul
              each item in service.services
                li=item




    .about.section
      .inner
        .photo
          .inner
        .copy
          each p in data.about.copy
            p=p
        .clear
      .clear
    .clear

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
