extends inc/layout

block content
  .index 

    .landing.section
      .logo
      .inner
        .copy
          each p in data.landing.copy
            p=p

    .about.section
      .inner
        .photo
          .inner
        .copy
          each p in data.about.copy
            p=p
        .clear
      .clear
    .clear

    .section.services
      .inner
        - var service = data.services[0]
        .service
          .icon
            include ../pub/svg/strategic.svg
          .title=service.name
          ul
          each item in service.services
            li=item
        - var service = data.services[1]
        .service
          .icon
            include ../pub/svg/compliance.svg
          .title=service.name
          ul
          each item in service.services
            li=item
        - var service = data.services[2]
        .service
          .icon
            include ../pub/svg/testing.svg
          .title=service.name
          ul
          each item in service.services
            li=item


  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
